* {
    font-family: "Poppins", sans-serif;
}

.font-bangla {
    font-family: "Hind Siliguri", sans-serif;
}
.btn-active{
    background-color: #422AD5;
    color: white;
}

/* Make all word cards equal height */
#word-container > div {
    display: flex;
    height: 100%;
}

#word-container > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}